<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Beschikbare games</h1>
            <div class="games-buttons">
                <button id="refresh-button" class="btn btn-default">Ververs</button>
                <button id="back-button" class="btn btn-default">Terug</button>
                <button id="new-game-button" class="btn btn-default">Nieuw Spel</button>
            </div>
        </div>
        <div class="panel-body" id="games-list">
        </div>
    </div>

</div>