<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Beschikbare games</h1>
            <div class="games-buttons">
                <button id="back-button" class="btn btn-default">Terug</button>
                <button id="refresh-button" class="btn btn-primary">Ververs</button>
                <div class="btn-group">
                    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nieuw spel <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button id="new-game-button-pc" class="btn btn-default">VS PC</button></li>
                        <li role="separator" class="divider"></li>
                        <li><button id="new-game-button-human" class="btn btn-default">VS human</button></li>
                    </ul>
                </div>
                <button id="delete-games-button" class="btn btn-danger">Verwijder alle spellen</button>
            </div>
        </div>
        <div class="panel-body" id="games-list">
        </div>
    </div>

</div>